In [ ]:
#1.	Creating DataFrames - This exercise introduces how to create and manipulate DataFrames using the Pandas library.
import pandas as pd

# Creating a DataFrame
data = {"name": ["John", "Emily", "Michael"], "age": [25, 22, 30], "city": ["New York", "San Francisco", "Los Angeles"]}
df = pd.DataFrame(data)
print(df)

In [ ]:
#2.	Importing and Exporting Data - This exercise introduces how to import and export data from various file formats such as CSV, Excel, and SQL.
import pandas as pd

# Importing data from a CSV file
url = 'https://github.com/materials-discovery/ML_tutorials/blob/main/data.csv'
df = pd.read_csv(url, index_col=0)
print(df)

In [ ]:
#3.	Data Selection and Filtering - This exercise introduces how to select and filter data from a DataFrame using various techniques such as indexing, slicing, and boolean indexing.
import pandas as pd

# Creating a DataFrame
data = {"name": ["John", "Emily", "Michael"], "age": [25, 22, 30], "city": ["New York", "San Francisco", "Los Angeles"]}
df = pd.DataFrame(data)

# Selecting a column
print(df["name"])

# Filtering by a condition
print(df[df["age"] > 25])

In [ ]:
#4.	Data Grouping and Aggregating - This exercise introduces how to group and aggregate data using various techniques such as groupby and pivot tables.
import pandas as pd

# Creating a DataFrame
data = {"name": ["John", "Emily", "Michael", "Emma", "Jacob"], "age": [25, 22, 30, 27, 20],
        "city": ["New York", "San Francisco", "Los Angeles", "New York", "San Francisco"],
        "salary": [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

# Grouping by city and calculating mean salary
print(df.groupby("city")["salary"].mean())

# Creating a pivot table
print(df.pivot_table(values="salary", index="city", columns="age"))

In [ ]:
#5.	Data Cleaning and Preprocessing - This exercise introduces how to clean and preprocess data using various techniques such as handling missing values, renaming columns, and removing duplicates.
import pandas as pd

# Creating a DataFrame
data = {"name": ["John", "Emily", "Michael", "Emma", "Jacob"], "age": [25, 22, 30, None, 20],
        "city": ["New York", "San Francisco", "Los Angeles", "New York", "San Francisco"],
        "salary": [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

# Handling missing values
df = df.fillna(df.mean())

# Renaming columns
df = df.rename(columns={"name": "Name", "age": "Age", "city": "City", "salary": "Salary"})

# Removing duplicates
df = df.drop_duplicates()
print(df)

#Please note that these are just simple examples, Pandas is a powerful library and have a lot of functionality, these examples just show the basic functionality of it.
#The above mentioned examples are just a starting point and there are many more things that can be done with pandas library like joining, merging, concatenating DataFrames, handling time series data, etc.