In [ ]:
#1.	Creating DataFrames - This exercise introduces how to create and manipulate DataFrames using the Pandas library.
import pandas as pd

# Creating a DataFrame
data = {"name": ["John", "Emily", "Michael"], "age": [25, 22, 30], "city": ["New York", "San Francisco", "Los Angeles"]}
df = pd.DataFrame(data)
print(df)

In [10]:
#2.	Importing and Exporting Data - This exercise introduces how to import and export data from various file formats such as CSV, Excel, and SQL.
import pandas as pd

# Importing data from a CSV file
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv'
df = pd.read_csv(url)
print(df)

                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   08075
0        Phila   PA    9119
1    Riverside   NJ    8075
2     SomeTown   SD   91234
3     SomeTown   SD     298
4  Desert City   CO     123

In [11]:
#3.	Data Selection and Filtering - This exercise introduces how to select and filter data from a DataFrame using various techniques such as indexing, slicing, and boolean indexing.
import pandas as pd

# Creating a DataFrame
data = {"name": ["John", "Emily", "Michael"], "age": [25, 22, 30], "city": ["New York", "San Francisco", "Los Angeles"]}
df = pd.DataFrame(data)

# Selecting a column
print(df["name"])

# Filtering by a condition
print(df[df["age"] > 25])

0       John
1      Emily
2    Michael
Name: name, dtype: object
      name  age         city
2  Michael   30  Los Angeles

In [12]:
#4.	Data Grouping and Aggregating - This exercise introduces how to group and aggregate data using various techniques such as groupby and pivot tables.
import pandas as pd

# Creating a DataFrame
data = {"name": ["John", "Emily", "Michael", "Emma", "Jacob"], "age": [25, 22, 30, 27, 20],
        "city": ["New York", "San Francisco", "Los Angeles", "New York", "San Francisco"],
        "salary": [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

# Grouping by city and calculating mean salary
print(df.groupby("city")["salary"].mean())

# Creating a pivot table
print(df.pivot_table(values="salary", index="city", columns="age"))

city
Los Angeles      70000.0
New York         65000.0
San Francisco    75000.0
Name: salary, dtype: float64
age                 20       22       25       27       30
city
Los Angeles        NaN      NaN      NaN      NaN  70000.0
New York           NaN      NaN  50000.0  80000.0      NaN
San Francisco  90000.0  60000.0      NaN      NaN      NaN

In [13]:
#5.	Data Cleaning and Preprocessing - This exercise introduces how to clean and preprocess data using various techniques such as handling missing values, renaming columns, and removing duplicates.
import pandas as pd

# Creating a DataFrame
data = {"name": ["John", "Emily", "Michael", "Emma", "Jacob"], "age": [25, 22, 30, None, 20],
        "city": ["New York", "San Francisco", "Los Angeles", "New York", "San Francisco"],
        "salary": [50000, 60000, 70000, 80000, 90000]}
df = pd.DataFrame(data)

# Handling missing values
df = df.fillna(df.mean())

# Renaming columns
df = df.rename(columns={"name": "Name", "age": "Age", "city": "City", "salary": "Salary"})

# Removing duplicates
df = df.drop_duplicates()
print(df)

#Please note that these are just simple examples, Pandas is a powerful library and have a lot of functionality, these examples just show the basic functionality of it.
#The above mentioned examples are just a starting point and there are many more things that can be done with pandas library like joining, merging, concatenating DataFrames, handling time series data, etc.

      Name    Age           City  Salary
0     John  25.00       New York   50000
1    Emily  22.00  San Francisco   60000
2  Michael  30.00    Los Angeles   70000
3     Emma  24.25       New York   80000
4    Jacob  20.00  San Francisco   90000

<ipython-input-13-107dea16cb65>:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean())