In [12]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
# load the iris dataset
#iris = pd.read_csv("iris.csv")
# Load the iris dataset
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
colnames = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
iris = pd.read_csv(url, header=None, names=colnames)

In [ ]:
# Visualize the iris dataset using a scatter plot matrix
sns.pairplot(iris, hue='species')
plt.show()

In [ ]:

# check the first 5 rows of the dataset
print(iris.head())

In [ ]:

# check for missing values
print(iris.isnull().sum())

In [ ]:

# fill missing values with the mean of the column
iris = iris.fillna(iris.mean())

In [ ]:
# check for duplicate rows
print(iris.duplicated().sum())

In [18]:
# remove duplicate rows
iris = iris.drop_duplicates()

In [ ]:
# check for inconsistent data types
print(iris.dtypes)

In [20]:
# convert the 'species' column to categorical
iris['species'] = iris['species'].astype('category')

In [ ]:
# check for outliers
print(iris.describe())